:root {
  --mainColor: #01567f;
  --textColor: #231f20;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Varela Round", sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body:focus,
input:focus,
textarea:focus,
button:focus,
select:focus,
a:focus,
input[type="submit"]:focus {
  outline: none;
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6, header nav {
  font-family: "Varela Round", sans-serif;
  line-height: 1.4;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a {
  text-decoration: none;
  color: #000;
  background: transparent;
}

a:hover {
  color: #040303;
  cursor: pointer;
}

p {
  margin: 0 0 15px;
}

p img {
  margin: 0;
}

ul, ol {
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style: none;
}

ol {
  list-style: decimal;
}

table {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: center;
  padding: 15px;
  border: 1px solid #ebebeb;
  color: #1c1c1c;
}

th {
  font-weight: 500;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

form {
  margin-bottom: 30px;
}

button {
  cursor: pointer;
  overflow: visible;
}

input, textarea, button, select {
  font-size: 1em;
  border-radius: 0;
  max-width: 100%;
  display: block;
}

input, textarea {
  border: 1px solid #ebebeb;
  padding: 0 20px;
}

textarea {
  min-height: 100px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea,
select {
  min-height: 40px;
}

input[type="checkbox"] {
  display: inline;
  position: absolute;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  background: transparent;
  outline: none;
  opacity: 0;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

fieldset {
  border: 1px solid #ebebeb;
  padding: 15px;
}

select {
  appearance: none;
  background: #fff url("//bizweb.dktcdn.net/100/462/587/themes/880841/assets/ico-select.png?1731347837015") no-repeat right 10px center;
  padding-right: 28px;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

option {
  background-color: #fff;
}

label {
  display: inline-block;
  font-weight: 400;
}

label[for] {
  cursor: pointer;
}

.container, .container-fluid {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container, .container-fluid {
    padding-right: 45px;
    padding-left: 45px;
    max-width: 1349px;
  }
}

@media (max-width: 480px) {
  .container, .container-fluid {
    padding-left: 7px;
    padding-right: 7px;
  }
}
